.navbar-nav{
    font-family:'Oxygen',sans-serif;
    text-decoration:rgb(235, 183, 183);
    font-weight: bold;
  }
  #nav-bar
  {
      background-color:#b4dba3;
      position:static;
      top:0;
      z-index:10;
  }
  .nav-link:hover {
      background-image: url('C:\Users\DELL\Desktop\New folder\IMG_15022021_130857_(1600_x_600_pixel) (2).jpg');
  }
  .nav-link {
      font-family:'Oxygen',sans-serif;
  }
  a{
      color:white;
  }
  